<h4>Single</h4>
<form action="/uploadSingle" method="post" enctype="multipart/form-data">
    <input type="file" name="avatar" multiple />
    <input type="submit" value="upload" />
</form>

<br><br>

<h4>Multiple</h4>
<form action="/uploadMulti" method="post" enctype="multipart/form-data">
    <input type="file" name="avatar" multiple />
    <input type="submit" value="upload" />
</form>