<form action="/editU" method="post">
  <div class="mb-3 mt-3">
    <label for="idEdit">Name:</label>
    <input type="text" class="form-control" id="idEdit" name="idEdit" placeholder="userName" value="{{user.name}}">
  </div>
  <div class="mb-3 mt-3">
    <label for="userNameEdit">Name:</label>
    <input type="text" class="form-control" id="userNameEdit" name="userNameEdit" placeholder="userName">
  </div>
  <div class="mb-3 mt-3">
    <label for="emailEdit">Email:</label>
    <input type="email" class="form-control" id="emailEdit" name="emailEdit" placeholder="email">
  </div>
  <div class="mb-3 mt-3">
    <label for="phoneEdit">Phone:</label>
    <input type="phone" class="form-control" id="phoneEdit" name="phoneEdit" placeholder="phone">
  </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-success" data-bs-dismiss="modal" id="saveAdd">Save</button>
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
</form>